<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Registrar Coleção de E-Book.</title>
</head>
<body>
	<h1>Registrar Coleção de E-Book.</h1>
	<form action="/colecao-e-book/" method="post">
		<fieldset>
			<legend>Insira os valores</legend>
			<p>
				<label for="Preco">Preço</label> <input type="text" name="preco"
					id="preco" required />
			</p>
			<p>
				<label for="Serie">Série</label> <input type="text" name="serie"
					id="serie" required />
			</p>
			<p>
				<button type="submit">Registrar</button>
			</p>

		</fieldset>
	</form>

	<h2>Listar Coleção de E-Books.</h2>
	<form action="/colecao-e-book/listarColecao_E_Books" method="post">
		<p>
			<button type="submit">Listar</button>
		</p>
	</form>

	<h2>Buscar Coleção de E-Book.</h2>
	<form action="/colecao-e-book/buscaSerie" method="post">
		<p>
			<label for="serie">Serie</label> <input type="text" name="serie"
				id="serie" required />

			<button type="submit">Buscar</button>
		</p>
	</form>

	<h2>Listar E-Books de uma Coleção.</h2>
	<form action="/colecao-e-book/listarE_Books" method="post">
		<p>
			<label for="serie">Serie</label> <input type="text" name="serie"
				id="serie" required />

			<button type="submit">Listar</button>
		</p>
	</form>

	<h2>Adicionar E-Book.</h2>
	<form action="/colecao-e-book/addE_Book" method="post">
		<p>
			<label for="serie">Serie</label> <input type="text" name="serie"
				id="serie" required /> <label for="titulo">Titulo:</label> <input
				type="text" name="titulo" id="titulo" required />

			<button type="submit">Adicionar</button>
		</p>
	</form>

	<h2>Remover E-Book.</h2>
	<form action="/colecao-e-book/removeE_Book" method="post">
		<p>
			<label for="serie">Serie</label> <input type="text" name="serie"
				id="serie" required /> <label for="titulo">Titulo:</label> <input
				type="text" name="titulo" id="titulo" required />

			<button type="submit">Remover</button>
		</p>
	</form>
</body>
</html>