<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Primeira página.</title>
</head>
<body>
	<h1>Primeira página.</h1>
	
	<h4>Registrar:</h4>
	<ul><li><a href="./home/new/cliente">Cliente</a>
	<li><a href="./home/new/cargo">Cargo</a>
	<li><a href="./home/new/funcionario">Funcionário</a>
	<li><a href="./home/new/e-book">E-Book</a>
	<li><a href="./home/new/colecao-e-book">Coleção de E-Books</a>
	<li><a href="./home/new/compra">Compra</a></ul>
	</br>
	<h4><a href="./h2-console">Banco de dados</a></h4>
</body>
</html>